<header class="header">
  <link rel="stylesheet" href="/css/swA.css">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="Logo" class="logo">
      <span class="nombre-sitio"><a>Colores de Chiapas</a></span>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/">Principal</a></li>
        <li><a href="/tienda.html">Tienda</a></li>
        <li><a href="/mayoreo.html">Mayoreo</a></li>
        <li><a href="/quienes-somos.html">¿Quiénes somos?</a></li>
      </ul>
    </nav>
    <div class="iconos">
      <div class="usuario-icono" id="usuario-icono">
        <a href="/sesion.html" id="icono-usuario-link">
          <img src="/assets/icons/user.png" alt="Usuario" style="width: 24px; height: 24px;">
        </a>
      </div>
      
      <div class="busqueda-container" id="busqueda-container">
        <button class="btn-icono" id="btn-busqueda">
          <img src="assets/icons/lupa.png" alt="Buscar" class="icono-local">
        </button>
        <input type="text" id="input-busqueda" placeholder="¿Qué estás buscando?" autocomplete="off">
        <ul id="resultados-busqueda" class="resultados-sugerencias"></ul>
      </div>

      <li id="carrito-icono" class="icono-carrito" style="position: relative;">
        <a href="/carrito.html" class="enlace-carrito">
          <img src="assets/icons/carrito.png" alt="Carrito" class="icono-local">
          <span id="carrito-contador" class="contador-carrito">0</span>
        </a>
      </li>
  </div>
  </header>